template(name="scrumboard")
	.col-xs-12 
		h1.page-header Scrumboard
	.scrumboard
		.col-sm-3.col-xs-12
			+scrumboard_create
		.columns.col-sm-9.col-xs-12
			each states
				+scrumboard_column
template(name="scrumboard_column")
	.col-sm-4.col-xs-6.column(class="column-#{value}")
		h2.title 
			.glyphicon(class=icon)
			| #{label}

		+scrumboard_cards(state=value)
				

template(name="scrumboard_create")
	h3 Create Card
	+quickForm(collection="Cards" id="form-create-card" type="insert")

template(name="scrumboard_cards")
	ul.cards
		
		each cards
			+scrumboard_cards_card

