.scrumboard
	ul.cards
		list-style: none
		margin: 0
		padding: 0
		.card
			background-color: #eee;
			padding: 8px
			border-radius: 8px
			border: 1px dashed #666
			margin-bottom: 8px
			cursor: move;
			cursor: -moz-grab;
			cursor: -webkit-grab;
			cursor: grab;
			
	.column
		min-height: 800px
		border: 1px dotted #999;